@font-face {
  font-family: "Pretendard Black";
  font-style: normal;
  src: url("../fonts/Pretendard-Black.woff");
}

@font-face {
  font-family: "Pretendard Regular";
  font-style: normal;
  src: url("../fonts/Pretendard-Regular.woff");
}

@font-face {
  font-family: "Pretendard Light";
  font-style: normal;
  font-weight: lighter;
  src: url("../fonts/Pretendard-Light.woff");
}

@font-face {
  font-family: "Pretendard Bold";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/Pretendard-Bold.woff");
}
