@import "./mixin.scss";

/*
다음은 Reactjs에서 전달되지 않은 알림으로 완료된 
esizeobserver 루프에 대한 솔루션이며 App.css 
파일과 같은 구성 요소 CSS 파일 내에 아래 스타일을 추가하면 됩니다.

위의 코드는 swiper 에러
ResizeObserver loop completed with undelivered notifications.
at handleError 
에 대한 해결 코드라 한다 정확하게 무슨 원리인지는 아직 모르겠음..

*/

iframe#webpack-dev-server-client-overlay {
  display: none !important;
}
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  font-family: "Pretendard Regular";
}

.App {
  background: var(--color-background);
  .section {
    padding-top: 59px;
    height: calc(100vh - 59px);
  }
  .copyright {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: var(--color-text);
    font-size: 13px;
    opacity: 0.7;
    &:hover {
      opacity: 1;
    }
  }
}

.main_container {
}

@include mobile-md {
  .App {
    .section {
    }
    .copyright {
      left: 70%;
    }
  }
}
@include md {
  .App {
    .section {
    }
    .copyright {
      left: 50%;
    }
  }
}
@include xl {
}
