@import "./mixin.scss";

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  font-family: "Pretendard Regular";
}

.App {
  background: var(--color-background);
}

.main_container {
}
@include xl {
}
