@import "./_variables.scss";

$text-color-1: #232323;
$text-color-2: #fff;
$bg-color-1: #fff;
$bg-color-2: #232323;

$btn-darkmode-color-1: #fff;
$btn-darkmode-color-2: #232323;
$btn-darkmode-bg-color-1: #232323;
$btn-darkmode-bg-color-2: #fff;

html[color-theme="light"] {
  --color-text: #{$text-color-1};
  --color-background: #{$bg-color-1};
  --color-darkmode-btn: #{$btn-darkmode-color-1};
  --color-darkmode-btn-bg: #{$btn-darkmode-bg-color-1};
}

html[color-theme="dark"] {
  --color-text: #{$text-color-2};
  --color-background: #{$bg-color-2};
  --color-darkmode-btn: #{$btn-darkmode-color-2};
  --color-darkmode-btn-bg: #{$btn-darkmode-bg-color-2};
}
