@import "../../../globals/mixin.scss";

.section {
  .create_post_container {
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--color-diff-text);
    background: var(--color-diff--background);
    width: 80%;

    min-height: 300px;
    max-width: 1048px;
    box-sizing: border-box;
    border-radius: 16px;
    padding: 30px;

    .form {
      .name {
        width: 99%;
        margin: 0 auto;
        font-size: 16px;
        box-sizing: border-box;
        padding: 10px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        border: none;
        border-bottom: 2px dotted #575656;
        outline: none;
        color: var(--color-diff-text);
        background: var(--color-diff--background);
      }
      .desc {
        color: var(--color-diff-text);
        background: var(--color-diff--background);
        border: none;
        font-size: 16px;
        width: 99%;
        margin: 0 auto;
        box-sizing: border-box;
        padding: 10px;
        margin-top: 20px;
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
        line-height: 26px;
        overflow: scroll;
        &::-webkit-scrollbar {
          display: none; /* Chrome, Safari, Opera*/
        }
        outline: none;
      }
    }
  }
}
.board_btns {
  padding-top: 20px;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;

  gap: 5px;
  .board_btn {
    padding: 5px 10px;
    color: var(--color-diff-text);
    background: var(--color-diff--background);
    border: none;
    border-radius: 5px;
    font-size: 18px;
    white-space: nowrap;
    cursor: pointer;
    border: 2px solid var(--color-board-label);
    &:hover {
      background: var(--color-board-label);
    }
  }
}

@include mobile-sm {
  .section {
    .create_post_container {
      .form {
        .name {
        }
        .desc {
        }
      }
    }
  }
}
@include mobile-md {
  .section {
    .create_post_container {
      .form {
        .name {
        }
        .desc {
          height: 300px;
        }
      }
    }
  }
}
@include md {
  .section {
    .create_post_container {
      .form {
        .name {
        }
        .desc {
          height: 350px;
        }
      }
    }
  }
}
