@import "../../globals/themes.scss";
@import "../../globals/mixin.scss";
.darkmode_container {
  position: relative;
  width: 40px;
  height: 24px;
  border-radius: 18px;
  background: var(--color-darkmode-btn-bg);
  cursor: pointer;
  button {
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--color-darkmode-btn);
    transition: ease 0.3s;

    &.dark {
      left: 20px;
    }
  }
}
@include mobile-sm {
  .darkmode_container {
    margin-left: 0;
  }
}
@include sm {
  .darkmode_container {
    margin-left: 16px;
  }
}

@include md {
  .darkmode_container {
    margin-left: 44px;
  }
}

@include xl {
}
