@import "../../globals/mixin.scss";

.project_section {
  padding-top: 59px;
  width: 95%;
  margin: 0 auto;
  max-width: 1048px;

  .title {
    color: var(--color-text);
    font-size: 28px;
    padding: 50px 0 50px;
  }
  .projectHeader {
    display: flex;
    align-items: center;
    flex-direction: column;
    .filterBtns {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      width: 100%;
      max-width: 800px;
      gap: 10px;
      button {
        box-sizing: border-box;
        background: none;
        border: 1px solid var(--color-text);
        color: var(--color-text);
        padding: 7px 10px;
        font-size: 16px;
        border-radius: 13px;

        cursor: pointer;
        &:hover {
          border: 1px solid var(--color-music-Box);
          color: var(--color-music-Box);
        }
      }
    }
  }

  .project_item:nth-of-type(even) {
    flex-direction: row-reverse;
    .project_info {
      box-sizing: border-box;
      padding-left: 10%;
    }
  }
}
@include mobile-sm {
  .project_section {
    padding-top: 59px;
    width: 95%;
    margin: 0 auto;
    max-width: 1048px;

    .title {
      padding: 50px 0;
      color: var(--color-text);
      font-size: 28px;
    }
    .project_item {
      flex-direction: column;
      &:nth-of-type(even) {
        flex-direction: column;

        .project_info {
          box-sizing: border-box;
          padding-left: 0%;
        }
      }
    }
  }
}
@include mobile-md {
}
@include md {
  .project_section {
    padding-top: 59px;
    width: 95%;
    margin: 0 auto;
    max-width: 1048px;

    .title {
      padding: 50px 0 50px;
      color: var(--color-text);
      font-size: 28px;
    }
    .project_item {
      flex-direction: row;
      &:nth-of-type(even) {
        flex-direction: row-reverse;
        .project_info {
          box-sizing: border-box;
          padding-left: 10%;
        }
      }
    }
  }
}
