@import "../../globals/mixin.scss";

.profile_section {
  padding-top: 59px;
  width: 95%;
  margin: 0 auto;
  max-width: 1048px;
  height: 100vh;
  .title {
    padding: 50px 0;
    color: var(--color-text);
    font-size: 28px;
  }
  .profile_text_wrap {
  }
  .info {
    padding-top: 50px;
    animation: textOpacityAni 1.5s ease;
    p {
      color: var(--color-text);
      font-size: 18px;
      padding: 8px 0;
    }
  }
  .my_history {
    padding-top: 30px;
    color: var(--color-text);
    p {
      padding: 5px 0;

      &:nth-child(1) {
        animation: textOpacityAni 2.5s ease;
      }
      &:nth-child(2) {
        animation: textOpacityAni 3s ease;
      }
      &:nth-child(3) {
        animation: textOpacityAni 3.5s ease;
      }
    }
  }
  @keyframes textOpacityAni {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  //   .skills {
  //     .ani {
  //       position: absolute;
  //       left: -50px;
  //       transition: ease 3s;
  //       font-size: 50px;
  //     }
  //   }
}

@include mobile-sm {
  .profile_section {
    .title {
    }
    .profile_text_wrap {
    }
    .info {
      p {
      }
    }
    .my_history {
      p {
      }
    }
  }
}
@include mobile-md {
  .profile_section {
    .title {
    }
    .profile_text_wrap {
    }
    .info {
      p {
        font-size: 15px;
      }
    }
    .my_history {
      p {
        font-size: 15px;
      }
    }
  }
}
@include md {
  .profile_section {
    .title {
    }
    .profile_text_wrap {
    }
    .info {
      p {
        font-size: 17px;
      }
    }
    .my_history {
      p {
        font-size: 17px;
      }
    }
  }
}
