@import "../../globals/mixin.scss";
.project_item {
  position: relative;
  display: flex;
  width: 100%;
  color: var(--color-text);
  height: 600px;

  padding-bottom: 60px;
  & > div {
    flex: 1;
  }
  .project_info {
    transition: ease 0.7s;
    margin-top: 200px;
    opacity: 0;
    &.active {
      margin-top: 0px;
      opacity: 1;
    }
    .title {
      font-size: 20px;
      padding-top: 0;
      padding-bottom: 20px;
      color: var(--color-text-Ani);
    }
    .dev {
      font-size: 20px;
      padding-top: 0;
      padding-bottom: 20px;
      color: #868585;
    }
    .info {
      width: 80%;
      font-size: 34px;
      color: var(--color-text);
    }
  }
  .project_view {
    position: sticky;
    top: 59px;
    border-radius: 18px;
    box-sizing: border-box;
    padding: 13px;
    height: 300px;
    max-width: 500px;
    background: var(--color-diff--background);
    box-shadow: var(--box-shadow-project1) 0px 50px 100px -20px,
      var(--box-shadow-project2) 0px 30px 60px -30px;

    img {
      border-radius: 18px;
      object-fit: cover;
      width: 237px;
      height: 300px;
    }
  }
  .line {
    width: 0%;
    position: absolute;
    bottom: 20px;
    left: 0;
    height: 1px;
    background: #868585;
    transition: ease 3s;
    &.active {
      width: 100%;
    }
  }
}
.modalVim {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 9999;
}
.showImgModal {
  position: fixed;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  max-width: 600px;
  max-height: 600px;
  .close_btn {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 10px;
    cursor: pointer;
    background: rgba(44, 42, 42, 0.7);
    border-radius: 50%;
    &:hover {
      background: rgb(112, 111, 111, 0.7);
    }
  }
  img {
    width: 100%;
    height: 100%;
    max-width: 600px;
    max-height: 600px;
    object-fit: cover;
    border-radius: 13px;
  }
}
@include mobile-sm {
  .project_item {
    height: 400px;
    padding-top: 100px;
    & > div {
    }
    .project_info {
      margin-top: 10px;
      &.active {
      }
      .title {
      }
      .dev {
      }
      .info {
        width: 90%;
        font-size: 20px;
      }
    }
    .project_view {
      height: 200px;
      img {
      }
      .line {
      }
    }
  }
}
@include mobile-md {
  .project_item {
    height: 470px;
    & > div {
    }
    .project_info {
      &.active {
      }
      .title {
      }
      .dev {
      }
      .info {
        width: 90%;
        font-size: 20px;
      }
    }
    .project_view {
      height: 300px;
      img {
      }
      .line {
      }
    }
  }
}
@include md {
  .project_item {
    height: 600px;
    padding-top: 0px;

    & > div {
    }
    .project_info {
      margin-top: 200px;
      opacity: 0;
      display: flex;
      align-items: center;
      &.active {
        margin-top: 0px;
      }
      .title {
      }
      .dev {
      }
      .info {
        width: 80%;
        font-size: 34px;
      }
    }
    .project_view {
      img {
      }
      .line {
      }
    }
  }
}
