@import "../../globals/mixin.scss";

.section {
  top: 59px;
  .home_text_wrap {
    padding-top: 130px;
    text-align: center;
  }
  .sub_txt {
    padding-top: 20px;
    color: var(--color-text-Ani);
    text-align: center;
    animation: ease 5s textAni;
    white-space: nowrap;
  }
}

@keyframes textAni {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@include mobile-sm {
  .section {
    .sub_txt {
      font-size: 12px;
    }
  }
}
@include mobile-md {
  .section {
    .sub_txt {
      font-size: 18px;
    }
  }
}
@include md {
  .section {
    .home_text_wrap {
      padding-top: 240px;
    }
    .sub_txt {
      padding-top: 40px;
      font-size: 36px;
    }
  }
}
