@import "../../globals/mixin.scss";

@keyframes blink_animate {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.text_ani_container {
  display: flex;
  justify-content: center;
  padding-top: 170px;
  .text {
    color: var(--color-text-Ani);

    display: inline;
  }
  .cursor {
    color: var(--color-text-Ani);

    opacity: 1;
    animation: blink_animate 0.6s infinite alternate;
  }
}

@include mobile-sm {
  .text_ani_container {
    .text {
      font-size: 14px;
    }
    .cursor {
      font-size: 14px;
    }
  }
}
@include mobile-md {
  .text_ani_container {
    .text {
      font-size: 20px;
    }
    .cursor {
      font-size: 20px;
    }
  }
}
@include md {
  .text_ani_container {
    padding-top: 240px;
    .text {
      font-size: 40px;
    }
    .cursor {
      font-size: 40px;
    }
  }
}
