@import "../../globals/mixin.scss";

.container {
  .text {
    color: #fedc45;
    font-size: 5em;
    display: inline;
  }
  .cursor {
    color: var(--color-text);
    font-size: 5em;
    opacity: 1;
    animation: blink_animate 0.6s infinite alternate;
  }
}

@keyframes blink_animate {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
