@import "../../globals/mixin.scss";

.loading {
  text-align: center;
  color: var(--color-text);
}
.weather_container {
  border: 2px solid var(--color-music-Box);
  background: white;
  border-radius: 16px;
  box-sizing: border-box;
  padding: 12px;
  width: 300px;
  position: relative;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);

  .weather_wrap {
    display: flex;
    align-items: center;
    .weather_main {
      font-weight: bold;
      font-size: 18px;
    }
    .weather_side {
      .place {
        padding-bottom: 20px;
        font-size: 16px;
        font-weight: bold;
      }
      .text,
      .temp {
        padding-bottom: 10px;
      }
    }
    & > div {
      flex: 1;
    }
    .weather_img {
      width: 80px;
      height: 80px;
      object-fit: cover;
    }
  }
}

.weatherApiButton {
  padding-top: 50px;
  background: none;
  border: none;
  cursor: pointer;
  width: 70px;
  height: 70px;
  img {
    width: 100%;
  }
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  &:hover::after {
    content: "오늘 날씨";
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    background: var(--color-diff--background);
    color: var(--color-diff-text);
    padding: 10px;
    width: 100px;
    box-sizing: border-box;
    border-radius: 16px;
  }

  &::before {
    content: "Click!";
    position: absolute;
    top: 130px;
    left: 50%;
    transform: translateX(-50%);

    color: var(--color-text);
    font-size: 16px;
    animation: blinkAni 0.7s infinite alternate;
  }

  &:hover {
    animation: none;
  }
}

@keyframes blinkAni {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
