@import "../../globals/themes.scss";
@import "../../globals/mixin.scss";
.nav_container {
  position: fixed;
  width: 100%;
}
.navbar {
  width: 100%;
  box-sizing: border-box;
  background: var(--color-background);
  .container {
    height: 59px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // max-width: 1048px;

    .logo {
      font-family: "Pretendard Bold";
      font-size: 20px;
      color: var(--color-text);
    }
    .side {
      display: flex;
      align-items: center;
      .mobile_menu {
        color: var(--color-text);
      }
      .menus {
        a {
          margin-right: 20px;
          &:hover {
            color: #7a7373;
          }
        }
      }
    }
    a {
      color: var(--color-text);
    }
  }
}
.mobile_navbar {
  height: 0;
  &.open {
    animation: slideMobileNav 0.3s ease;
  }
  .menus {
    display: flex;
    flex-direction: column;
    transition: ease 0.3s;
    background: var(--color-diff--background);
    a {
      box-sizing: border-box;
      padding: 18px 20px;
      height: 56px;
      color: var(--color-diff-text);
      border-bottom: 1px solid var(--color-diff-text);
      &:hover {
        color: #7a7373;
      }
    }
  }
}

@keyframes slideMobileNav {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@include mobile-sm {
  .navbar {
    padding: 0 8px;
    .container {
      .side {
        .menus {
          display: none;
        }
        .mobile_menu {
          margin-left: 16px;
          cursor: pointer;
        }
      }
    }
  }
}
@include sm {
  .navbar {
    .container {
      .side {
        .menus {
          display: block;
        }
        .mobile_menu {
          display: none;
        }
      }
    }
  }
  .mobile_navbar {
    display: none;
  }
}
@include md {
  .navbar {
    padding: 0 12px;
    .container {
      max-width: 1048px;
      margin: 0 auto;
      .side {
      }
    }
  }
}
@include lg {
  .container {
    width: 100%;
    justify-content: center;
  }
}
@include xl {
  .container {
  }
}
